<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837989483683-cu52g34fbpcoernahqj72c53jvblksch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837989483683-cu52g34fbpcoernahqj72c53jvblksch</string>
	<key>API_KEY</key>
	<string>AIzaSyA0an_X6TMNoi47ImwJskn_8fcfFzHTORA</string>
	<key>GCM_SENDER_ID</key>
	<string>837989483683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourdomain.kontrolSuhu</string>
	<key>PROJECT_ID</key>
	<string>test-thunkable-e8b09</string>
	<key>STORAGE_BUCKET</key>
	<string>test-thunkable-e8b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837989483683:ios:07c641e89fc24543426b16</string>
	<key>DATABASE_URL</key>
	<string>https://test-thunkable-e8b09-default-rtdb.firebaseio.com</string>
</dict>
</plist>